<h1>Applicant Apply Page</h1>

<div class="container">
<div class = "floatLeft">

<form action="/applicants/applicationForms/<%=foundJoblist.id%>" method="POST" class="form-action">
  <div class="form-group" class="text-center">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="applicant-name" name="applicant[name]" placeholder="Jane Doe" required>
  </div>
  <div class="form-group" class="text-center">
    <label for="contact">Contact (eg. 87878787)</label>
    <input type="tel" pattern="^\d{4}\d{4}$" class="form-control" id="applicant-contact" name="applicant[contact]" placeholder="87878787" required>
  </div>
  <div class="form-group" class="text-center">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="applicant-email" name="applicant[email]" placeholder="text@gmail.com" required>
  </div>
  <div class="form-group" class="text-center">
    <label for="experience">Experience</label>
    <input type="number" min="0" class="form-control" id="applicant-experience" name="applicant[experience]" placeholder="5" required>
  </div>
  <div class="form-group" class="text-center">
    <label for="education">Education</label>
      <select type="number" class="form-control" id="applicant-education" name="applicant[education]" required>
        <option value=1>Diploma</option>
        <option value=2>Bachelor</option>
        <option value=3>Master</option>
        <option value=3>Phd</option>
      </select>
  </div>
  <div class="form-group" class="text-center">
    <label for="age">Age</label>
    <input type="number" min="16" max="80" class="form-control" id="applicant-age" name="applicant[age]" placeholder="25" required>
  </div>

  <div class="control-group" class="text-center">
    <label class="control-label" for="gender">Gender</label>
    <div class="controls">
        <label class="radio inline" for="gender-0">
          <input name="applicant[gender]" id="gender-0" value="Male" checked="checked" type="radio">
          Male
        </label>
      <label class="radio inline" for="gender-1">
        <input name="applicant[gender]" id="gender-1" value="Female" type="radio">
        Female
      </label>
    </div>
  </div>
  <div class="form-group" class="text-center">
    <label for="expectedPay">Expected Pay</label>
    <input type="number" min="0" class="form-control" id="applicant-pay" name="applicant[expectedPay]" placeholder="1000">
  </div>
  <div class="form-group" class="text-center">
    <label for="experience">Skills</label>
    <input type="text" min="0" name="applicant[skills]" placeholder="">
  </div>
  <div class="form-group" class="text-center">
    <label for="exampleTextarea">Bio (not more than 250 characters)</label>
    <textarea class="form-control" id="exampleTextarea" rows="3" name = "applicant[bioText]" maxlength="250" required></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Apply</button>
</form>
</div>

<div class = "floatRight">
  <h2> For <%=foundJoblist.title%>  </h2>
  <p> <%=foundJoblist.description%> </p>

</div>

</div>
