<div class="container">
  <h2>Our commitment to our clients</h2>
  <p>We strive to exceed customer expectation in all areas of operation and are committed to building mutually beneficial long-term relationships that add value. By working closely with our customers we can clearly see ourselves in their eyes.</p>
</div>

<div class="container">
  <div class="col-md-4">
    <div class="homecol">
      <h2>About us</h2>
      <p>Our customers have successfully optimized and delivered over 2 billion dynamic time based consumer pickup and deliveries on time. We transforms traditional transportation operations into live and fully automated source-to-destination logistics networks, optimizing in real-time for the lowest operating time and cost as demand, supply, customer requirements and operating environments change. These networks, simple or complex, include Truckloads (TL), Less Than Truckload (LTL), distribution channels, private fleets, couriers, cross-docks, warehouses, consolidation hubs, sort centers, dispatch and customer service. We optimization and routing engines, unmatched in the industry, deliver precision while simultaneously accommodating live changes in operational conditions and customer needs.</p>

    </div>
  </div>
  <div class="col-md-4">
    <div class="homecol">
      <h2>Contact Us</h2>
      <p>
        For enquiries, please contact us at
        <p>
          Tel: +65 6888 8888
        </p>
        <p>
          Email: logistics@mjz.sg</p>
        </p>

        <iframe width="100%" height="65%" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.779150058541!2d103.82957691466942!3d1.3077172620738515!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da198d35873849%3A0x3a23fa3bd151effb!2s8+Claymore+Hill%2C+Singapore+229572!5e0!3m2!1sen!2ssg!4v1481106289526" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        <%# <h3>My Google Maps Demo</h3>
        <div id="map"></div>
        <!-- Replace the value of the key parameter with your own API key. -->
        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFKr71t1g4SlQoNHHsRYK-uLAsvL4tbR8&callback=initMap">
      </script>%>

    </div>
  </div>
  <div class="col-md-4">
    <div class="homecol">
      <h2>Our Services</h2>
      <p>Our Ship Spares services include:
        <ul>
          <li>
            Airfreight – direct or consolidation of shipments
          </li>
          <li>
            Seafreight – FCL and LCL shipments
          </li>
          <li>
            V-2-V services – “vessel-to-vessel” collection and delivery (including vessels in Off-Port Limits, Anchorages, Container Ports, Terminals and Drydocks)
          </li>
          <li>
            Customs brokerage
          </li>
          <li>
            Zero-GST permits and paperwork
          </li>
          <li>
            Warehousing, storage and consolidation of parts before delivery to vessel
          </li>
          <li>
            Reverse logistics – warranty parts (repair and return programs)
          </li>
          <li>
            Project cargo – oversized shipments with special requirements
          </li>
          <li>
            Hand-carry cargo – super-urgent parts which need to be hand-delivered to destination
          </li>
        </ul>

      </p>

    </div>
  </div>
</div>
