.floatLeft { width: 60%; float: left; }
.floatRight {width: 35%; float: right; }
.container { overflow: hidden; }

.wrapper{
  background-image: url("../images/1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 150px;
}

.footer{
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #e7e7e7;
}

form {
  display: block;
}
