
.floatLeft { width: 60%; float: left; }
.floatRight {
  width: 30%; float: right;
}
#map {
  /*height: 100px;
  width: 50%;*/
 }


.container {
  overflow: hidden;
  border-radius: 5px;
  padding: 20px 10px 20px 10px;
  margin-bottom: 15px;
  background-color: #e7e7e7;
}
.col-md-4 {
  background-color: white;
  border-color: black;
  margin-bottom: 10px;
}

.homecol{
  height: 440px;
}
.col-md-10 {
  background-color: white;
  border-color: black;
  padding-top: 10px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
}
.navbar {
  margin-left: 15px;
  margin-right: 15px;
}

.table-hover{
  padding: 10px 10px 10px 10px;
}

.container-login{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background-color: #ccc;
  border-radius: 5px;
  padding: 5px 10px 10px 10px;
}

body{
  /*background-color: #F0FBD9;*/
  background-image: url("/images/logistic3.jpg");
  background-repeat: no-repeat;
  /*background-size:contain;*/

}

#experience1 {
  width: 30%;
}

#experience2 {
  width: 30%;
}


.form-group{
  margin: 5px 5px 5px 5px;
}


#age1{
  width: 30%;
}

#age2{
  width: 30%;
}
.footer{
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
  text-align: center;
  /*position: relative;*/
  bottom: 0;
  /*width: 100%;*/
  /*height: 50px;*/
  background-color: #e7e7e7;
}
.login{
  margin-top: 10px;
}
form {
  display: block;
}

#skills{
  width: 97%;
}
