<div class="container">
<h2>Add new job request here!</h2>
<form action="/newJoblist" method="POST" class="form-action">
  <div class="form-group" class="text-center">
    <label for="title">Job Title</label>
    <input type="text" class="form-control" id="items" name = "joblist[title]" placeholder="Job Title" required>
  </div>
  <div class="form-group" class="text-center">
    <label for="exampleTextarea">Job Description</label>
    <textarea class="form-control" id="exampleTextarea" rows="3" name = "joblist[description]" required></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
