<div class="text-center">
<h2>Add your joblist here!</h2>
<form action="/newJoblist" method="POST" class="form-action">
  <div class="form-group" class="text-center">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="items" name = "joblist[title]" placeholder="Title">
  </div>
  <div class="form-group" class="text-center">
    <label for="exampleTextarea">description</label>
    <textarea class="form-control" id="exampleTextarea" rows="3" name = "joblist[description]" ></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
