<h2> Hello <%=user.local.name%> </h2>
<br>

<body class="container">

<form class = "editUserDetails" action="/users/<%= user.id %>/edit?_method=put" method="POST">

  <div class="form-group">
    <label for="name"> Name </label>
    <input type="text" class="form-control" id="name" value = "<%=user.local.name%>" name="user[local][name]">
  </div>

  <div class="form-group">
    <label for="email"> Email</label>
    <input type="text" class="form-control" id="email" value = "<%=user.local.email%>" name="user[local][email]">
  </div>

  <input type="submit" value = "Submit" id = "saveUserDetails" class="btn btn-success">
  <input type="submit" value = "Cancel" id = "cancelSaveUserDetails" class="btn btn-info" >
</form>

</body>
