<div class="text-center">

<% if(message.length > 0) { %>
  <div class="alert alert-danger">
    <%= message %>
  </div>
<% } %>
<% if(errors.length > 0) { %>
  <h2>Error found</h2>
  <ul>
  <%= JSON.stringify(errors) %>
  <% for (var error in errors[0]) { %>
    <li><%= errors[0][error].message %></li>
  <% } %>
  </ul>
<% } %>

<form method="POST" action="/signup" >
  <div class="form-group">
    <label for="user">Username:    </label>
      <input type="text" id="email" name="user[local][name]" class="form-control" value="" required autofocus>
  </div>
  <div class="form-group">
    <label for="user">Email:    </label>
      <input type="text" id="email" name="user[local][email]" class="form-control"  autofocus>
  </div>
  <div class="form-group">
    <label> Password: </label>
      <input type="password" id="pass" name="user[local][password]" class="form-control" value="" data-parsley-minlength="4" required>
  </div>
  <div class="form-group">
    <input type="submit" value="Sign up" class="btn btn-primary">
  </div>
</form>
<a href="/login">Already have an account? Login in here</a>
</div>
